<style>
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid;
  }

  tr:hover {
    background-color: gray;
  }

  button {
    padding: 10px 10px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
  }

  .button {
    background-color: #1183ca;
  }

  .button2 {
    background-color: #008000;
  }

  .button3 {
    background-color: #DC143C;
  }

  div {
    padding: 0.5% 1% 0% 1%;
  }
  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
  a:hover{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
</style>
