{% extends 'base.html' %}

{% load widget_tweaks %}
{% block body %}
<div id="home-background">

  <div class="container vh-100" id="homecardholder">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card mx-auto" id="homecard">



          <h1>Music Management System</h1>

          <!--
      Login and Sign up buttons
    -->
          <a href="{% url 'sign_up' %}"  class="EntryButton">Sign up</a>

          <div class="divider"></div>

          <button  type="button" class="EntryButton" data-bs-toggle="collapse" data-bs-target="#collapseExample" id="OpenLoginButton"
            aria-expanded="false" aria-controls="collapseExample">
            Login
          </button>



          <div class="divider"></div>


          <!--
      div for the form
    -->
          <div id="collapseExample" class="collapse">

            <form action="{% url 'home' %}" method="post">
              {% csrf_token %}
              {% include 'partials/messages.html' with form=form %}
              {% include 'partials/bootstrap_form.html' with form=form %}
              <input type="submit" value="Log in" class="btn successbutton">
            </form>
            <div class="divider"></div>
            <!-- </div>   -->




          </div>
        </div>
      </div>







    </div>

    {% endblock%}
