
{% extends 'admin_base_content.html' %}


{%block content%}

<!-- tables to display invoices for this student -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="text-align:center;">{{student.first_name}} {{student.last_name}}'s Invoices and Transactions History</h1><br>
      <div>
        <h4 style="text-align:center;"> Student Invoices table </h4>
        <table class="table">
          <thead style="background-color: #023e8a;">
            <tr style="color: white; ">
              <th>Reference</th>
              <th>Student ID</th>
              <th>Amount of fees</th>
              <th>Lesson ID</th>
              <th>Invoice status</th>
              <th>Amounts left to pay</th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in all_invoices %}
                <tr>
                    <td>{{ invoice.reference_number }}</td>
                    <td>{{ invoice.student_ID }}</td>
                    <td>{{ invoice.fees_amount }}</td>
                    <td>{{ invoice.lesson_ID }}</td>
                    <td>{{ invoice.invoice_status }}</td>
                    <td>{{ invoice.amounts_need_to_pay }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if not all_invoices %}
        <h5>There are currently no items here</h5>
        {% endif %}
      </div>

<!-- tables to display transactions for this student -->
      <div class="divider"></div>
      <div class="divider"></div>
       <div class="divider"></div>
      <div>
        <h4 style="text-align:center;"> Student Transactions table </h4>
        <table class="table">
          <thead style="background-color: #023e8a;">
            <tr style="color: white; ">
              <th scope="col">Student ID</th>
              <th scope="col">Invoice Reference</th>
              <th scope="col">Transaction amount</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in all_transactions %}
                <tr>
                    <th scope="row">{{ transaction.Student_ID_transaction }} {{student}}</th>
                    <td>{{ transaction.invoice_reference_transaction }}</td>
                    <td>{{ transaction.transaction_amount }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if not all_transactions %}
        <h5>There are currently no items here</h5>
        {% endif %}
      </div>

    </div>
    </div>
    </div>
  </body>

  {%endblock%}